.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
  border: 1px solid #817d7d;
  background: #bbbbbb;

  & :global {
    th {
      background: white;
      cursor: pointer;
    }
  }
}

.table {
  width: 100%;
}

